{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<h2>Stats</h2>
<dl class="scrap-results">
	<dt>Last scraps</dt>
	<dd>
		<table>
			<tr>
				<th>id</th>
				<th>source</th>
				<th>status</th>
				<th>started</th>
				<th>age</th>
				<th>time taken</th>
				<th>items succ/fail</th>
				<th>app error</th>
			</tr>
		{% if page_data.stats.last_scraps %}
			{% for scrap_record in page_data.stats.last_scraps %}
				<tr>
					<td>{{ scrap_record.scrap_id }}</td>
					<td>{{ scrap_record.source }}</td>
					<td>{{ scrap_record.status }}</td>
					<td>{{ scrap_record.ts_start }}</td>
					<td>{{ scrap_record.age }}</td>
					<td>{{ scrap_record.time_taken }}</td>
					<td>
						<span class="success_count">{{ scrap_record.count_succ }}</span>
						/ <span class="fail_count">{{ scrap_record.count_fail }}</span>
						~ <span class="succcess_percent">{{ scrap_record.succ_percentage }}</span>
					</td>
					<td>{{ scrap_record.exc_value }}</td>
				</tr>
		{% endfor %}
	{% else %}
			<tr><td colspan="6">no data</td></tr>
	{% endif %}
		</table>
	</dd>
</dl>
{% endblock %}